/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Define color variables */
:root {
    --primary-color: #FE5F55;
    --secondary-color: #2E8B57;
    --accent1-color: #87CEEB;
    --accent2-color: #8B4513;
    --border-color: #ccc; /* Color for borders */
    --background-color: #f8f8f8; /* Background color for navigation items */
}

/* Reset default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Headings styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Paragraph styles */
p {
    color: #555;
}

/* Header styles */
header {
    background: linear-gradient(to bottom, #FFA07A, #2E8B57);
    background-color: var(--accent1-color);
    padding: 2px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    justify-self: start;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li {
    margin-top: 30px;
    margin-right: 80px; 
}


nav ul li a {
    font-size: 20px;
    text-decoration: none; 
    color: var(--primary-color); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


nav ul li a:hover {
    color: var(--accent-color); 
}

.hero {
    position: relative;
    text-align: center;
}

.hero img.background-image {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 51%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    max-width: 80%;
}

.hero-content h1 {
    color: var(--primary-color);
}

.hero-content article {
    position: relative;
}

.hero-content p {
    color: #f5f5f5;
}

.hero-content article img {
    float: right;
    max-width: 40%;
    margin-left: 20px;
}

.reserve-button {
    background-color: #FE5F55;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-button:hover {
    background-color: #FF6347;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 20px;
}

footer p {
    margin: 0 320px;
    text-align: center;
}

footer img {
    margin-left: 10px;
    align-self: flex-end;
}

section img {
    width: 800px;
    height: auto;
}

/* Adventures section styles */
.adventures {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.adventures figure {
    margin: 0;
    text-align: center;
}

.adventures img {
    max-width: 100%;
}

.adventures figcaption {
    text-align: center;
    margin-top: 10px;
}

/* Heading styles */
h2 {
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--secondary-color-color);
}

/* Employee profiles section styles */
.employee-profiles {
    position: absolute;
    top: 200px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.employee-profile {
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

main {
    margin-left: 0;
}

.form-container {
    position: absolute;
    top: 200px;
    right: 375px;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
}

.form-container form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

.form-container label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 96%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container input[type="radio"] {
    display: none;
}

.form-container input[type="radio"] + label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-container input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.form-container input[type="radio"]:checked + label:before {
    background-color: #007bff;
}

.form-container input[type="checkbox"] {
    margin-top: 1px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

#google-map {
    border: 0;
    width: 40%;
    height: 450px;
}

.form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Main content styles */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

/* Trip image container styles */
.trip-image {
    display: inline-block; 
    width: 30%; 
    margin-right: 15px;
    margin-left: 15px; 
    padding: 10px;
}


.trip-image:last-child {
    margin-right: 0; 
}


.trip-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}


.trip-info {
    text-align: center;
}

.trip-info h3 {
    margin: 5px 0;
}

.trip-info p {
    margin: 5px 0;
}

.trip-info a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 10px;
}


/* Table styles */
.trip-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trip-table th, .trip-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.trip-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.trip-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.trip-table tbody tr:hover {
    background-color: #f2f2f2;
}
.grid-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.grid-item:last-child {
    margin-right: 0;
}

.grid-image {
    max-width: 100%;
    height: 300px; 
}

.symbol {
    max-width: 10%;
    height: auto;
    padding-bottom: 1px;
    }
    .newsletter {
        background-image: url('images/fondo.jpg'); 
        background-size: cover; 
        padding: 20px 0; 
        text-align: center; 
        color: white; 
    }
    
    .container {
        max-width: 1400px; 
        margin: 0 auto; 
    }
    
    h2 {
        font-size: 25px; 
        margin-bottom: 5px; 
    }
    
    .newsletter p {
        font-size: 16px; 
        margin-bottom: 30px; 
        color: #f5f5f5;
    }
    
    .newsletter-form input,
    .newsletter-form button {
        padding: 5px 10px; 
        font-size: 15px; 
        border: none; 
        border-radius: 25px; 
        margin-right: 5px; 
    }
    
    button {
        background-color: #FE5F55; 
        color: white; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    }
    
    button:hover {
        background-color: #FF8669; 
    }
    