* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: lightblue;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 10px;
  margin: 0; /* Reset margin */
}

main {
  max-width: 840px;
}

aside {
  position: relative;
  width: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  color: #333;
}

.title-on-image {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50%; /* Reduced font size */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

aside img {
  width: 200%; /* Increase image size */
  height: auto;
}

p.profile-description {
  overflow: hidden;
  padding-left: 20px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  background-color: lightgray;
  color: darkslategray;
}

/* Float profile image to the right */
img.profile-img {
  float: right;
  margin-left: 20px;
  margin-top: -10px; /* Move the image up */
}

/* Clear float for paragraphs after the floated image */
p.profile-description {
  overflow: hidden;
  padding-left: 20px;
}

aside h2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}
